<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="annotationIndexStart" value="deploy-annotation"/>
    <add key="WebControlUrl" value="http://localhost"/>
    <add key="WebPort" value="9195"/>
  <add key="webPages:Enabled" value="false"/></appSettings>
  <connectionStrings>
    <add name="annotationIndex" connectionString="http://localhost:9200"/>
    <!-- Marker elasticsearch machines -->
    <add name="markertest04" connectionString="http://localhost:9200"/>
    <!-- Marker elasticsearch machines -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <log4net debug="false">
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <!-- <localPort value="8181" /> -->
      <remoteAddress value="127.0.0.1" />
      <remotePort value="10001" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j"></layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="FileAppender" />-->
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor></configuration>
