<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <appSettings>
    <!-- Path to look for new deploy drops for AsimovDeploy.Annotations -->
    <add key="Asimov.Annotations.WatchFolder" value="\\tradera-build1\Drops\AsimovAnnotations"/>

    <!-- Path where service AsimovDeploy.Annotations.exe runs -->
    <add key="Asimov.Annotations.InstallFolder" value="D:\Applications\AsimovDeploy\AsimovAnnotations"/>

    <!-- Web port for AsimovDeploy.Annotations.exe -->
    <add key="Asimov.Annotations.WebPort" value="9195"/>
  </appSettings>

  <log4net debug="false">
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <!-- <localPort value="8181" /> -->
      <remoteAddress value="127.0.0.1" />
      <remotePort value="10001" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j"></layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="FileAppender" />-->
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
