@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<object>

@{
  Layout = "_Layout.cshtml";
}   

<h1>Awesomeness is a superpower</h1>

<img src="http://vignette1.wikia.nocookie.net/mlp/images/8/8b/FANMADE_Rainbow_Dash_-_colors_of_the_wind_by_stabzor.png/revision/latest/scale-to-width/407?cb=20130827203411"/>